.closeBtn {
   position: relative;
   display: block;
   cursor: pointer;
   width: 24px;
   height: 24px;
   opacity: 1;
   cursor: pointer;
   transition: opacity ease 0.2s;

   &:hover {
      opacity: 0.5;
   }

   &::before,
   &::after {
      content: '';
      position: absolute;
      top: 10px;
      display: block;
      width: 24px;
      height: 3px;
      background: #fff;
   }

   &::before {
      transform: rotate(45deg);
   }

   &::after {
      transform: rotate(-45deg);
   }
}