.cartItem {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    margin-top: 10px;
    border-left: 1px solid #eaeaea;
    width: 240px;


    & button {
        margin-top: 40px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        font-size: 25px;
        border: none;
        border-radius: 10px;
        transition: 0.2s;
    }
}

.amountWrraper {
    margin-top: 30px;
}

.counter {
    margin: 0 10px;
    font-size: 24px;
    font-weight: 700;
}

.image {
    height: 180px;
}

.increaseBtn,
.decreaseBtn {
    &:hover {
        background-color: rgb(192, 192, 192);
    }
}

.deleteBtn {
    color: #fff;
    font-weight: 700;
    background-color: rgb(190, 2, 2);
    width: 130px !important;

    &:hover {
        background-color: rgb(121, 0, 0);
    }
}