.favoriteItem {
    position: relative;
    margin-top: 10px;
    width: 200px;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
    min-height: 160px;
    border-left: 1px solid #eaeaea;


    &:hover>.favotriteSvg {
        opacity: 1;
    }

    &:hover {
        opacity: 0.8;
    }
}

.img {
    height: 200px;
}

.title {
    margin-top: 20px;
    font-size: 24px;

    &:hover {
        text-decoration: underline;
    }
}

.price {
    font-size: 34px;
    font-weight: 700;
    color: crimson;
}

.favotriteSvg {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    transition: 0.2s;

    &:hover {
        width: 90px;
        height: 90px;
    }
}