*{
   margin: 0;
   padding: 0;
}
body{
   font-family: sans-serif;
   background: #F2F2F2;
}
.container{
   width: 1280px;
   margin: 0 auto;
}
.hero-top{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #313131;

}
.hero-logo{
   display: flex;
   align-items: center;
}
.hero-top-logo-text{
   font-weight: bold;
   font-size: 22px;
   line-height: 30px;
   color: #FFFFFF;
}
.logo{
   margin: 22px 27px;
   cursor:pointer;
}
.hero-menu-point{
   display: inline-block;
   font-weight: 600;
   font-size: 15px;
   line-height: 20px;
   color: #FFFFFF;
   margin-right: 35px;
   text-transform: uppercase;
   transition: 0.5s;
}
.hero-menu-point:hover{
   color: #14B9D5;
   cursor:pointer;
}
.hero-search{
   padding: 26px;
   background: #000000;
   cursor:pointer;
}
.hero-imgcontent{
   background-image: url(../images/header-bg.jpeg);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding-top: 164px;
   padding-bottom: 74px;
   margin-bottom: 49px;
   
}
.hero-title{
   font-weight: bold;
   font-size: 27px;
   line-height: 37px;
   color: #FFFFFF;
   text-align: center;
   margin-bottom: 44px;
}
.hero-buttons{
   display: flex;
   justify-content: center;
}
.hero-button-subscribe{
   padding: 17px 19px;
   background: #89CA62;
   border-radius: 4px;
   font-size: 18px;
   line-height: 25px;
   color: #FFFFFF;
   margin-right: 20px;
}
.hero-button-best__actions{
   padding: 17px 30px;
   border-radius: 4px;
   background: #14B9D5;
   font-size: 18px;
   line-height: 25px;
   color: #FFFFFF;
}
/*! PORTFOLIO */
.popular-title{
   font-weight: bold;
   font-size: 27px;
   line-height: 37px;
   text-transform: uppercase;
   text-align: center;

   color: #18B4CF;
   margin-bottom: 52px;
}
.popular-portfolio{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   max-height: 1000px;
   margin-bottom: 74px;
   
}
.popular-portfolio-point{
   width: 370px;
   margin-bottom: 31px;
   background: #FFFFFF;
   cursor:pointer;
}
.portfolio-point-text{
   font-weight: bold;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   margin: 22px auto;
}
/*! OUR_CLIENTS */
.bg-our-clients{
   background-image: url(..//images/clietns-bg.jpeg);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.our-clients{
   padding-top: 106px;
   padding-bottom: 191px;
   width: 880px;
   margin-right: auto;
   margin-left: auto;
   display: grid;
   justify-items: center;
   column-gap: 58px;
   grid-template-areas: 
   'title title title title'
   'line line line line'
   'client1 client2 client3 client4';
}
.our-clients-title{
   grid-area: title;
   font-size: 32px;
   font-weight: bold;
   line-height: 44px;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-bottom: 87px;

}
.our-clients-border{
   grid-area: line;

   width: 60px;
   height: 3px;
   background: #18B4CF;
   border: none;
   margin: 0 auto 107px;
}
.client1{
   grid-area: client1;
   cursor:pointer;
}
.client2{
   grid-area: client2;
   cursor:pointer;
}
.client3{
   grid-area: client3;
   cursor:pointer;
}
.client4{
   grid-area: client4;
   cursor:pointer;
}
/*! PORTFOLIO2 */
.bg-portfolio2{
   background-color: #fff;
   padding-top: 49px;
}
.top-rated{
   font-weight: bold;
   font-size: 27px;
   line-height: 37px;
   text-align: center;
   text-transform: uppercase;

   color: #18B4CF;
   margin-bottom: 52px;
}
.top-rated-imgs{
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   margin-bottom: 60px;
}
.portfolio-img{
   height: 190px;
   width: 100%;
}
/*! HOT NEWS */
.hotnews-title{
   font-weight: bold;
   font-size: 27px;
   line-height: 37px;
   text-align: center;
   text-transform: uppercase;
   
   color: #18B4CF;
   margin-bottom: 51px;
}
.hotnews-portfolio{
   display: grid;
   column-gap: 35px;
   row-gap: 44px;
   grid-template-areas:
   'item1 item1 item1 item2'
   'item3 item3 item4 item4'
   'item5 item5 item6 item6'
   'item7 item8 item8 item8';
   padding-bottom: 77px;
}
.hotnews-title-style{
   font-weight: bold;
   font-size: 18px;
   line-height: 25px;
   color: #353A3D;
   text-align: center;
}
.hotnews-text-style{
   font-weight: 600;
   font-size: 14px;
   line-height: 21px;
   color: #5B6469;
}
.hotnews-portfolio-item1{
   grid-area: item1;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #F2F2F2;
   cursor:pointer;
}
.hotnews-portfolio-content{
   padding: 41px 24px;
}
.hotnews-portfolio-item-title1{
   margin-bottom: 15px;
}

.hotnews-portfolio-item-text{
   text-align: right;
}
.hotnews-portfolio-item2{
   grid-area: item2;
   background: #F2F2F2;
   cursor:pointer;
}
.hotnews-portfolio-item3{
   grid-area: item3;
   background: #F2F2F2;
   cursor:pointer;
}
.hotnews-portfolio-item-title2 {
   margin-top: 14px;
   margin-bottom: 11px;
}
.hotnews-portfolio-img3{
   width: 100%;
   height: 259px;
   margin-bottom: 12px;
}
.hotnews-portfolio-item4{
   grid-area: item4;
   background: #F2F2F2;
   cursor:pointer;
}
.hotnews-portfolio-item-text3{
   text-align: right;
   margin-top: 15px;
}
.hotnews-portfolio-item5{
   grid-area: item5;
   background: #F2F2F2;
   cursor:pointer;
}
.hotnews-portfolio-item6{
   grid-area: item6;
   background: #F2F2F2;
   cursor:pointer;
}
.hotnews-portfolio-item7{
   grid-area: item7;
   background: #F2F2F2;
   cursor:pointer;
}
.hotnews-portfolio-item8{
   grid-area: item8;
   background: #F2F2F2;
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor:pointer;
}
/*! FOOTER */
.footer{
   background-color: black;
   padding-top: 27px;
   padding-bottom: 29px;
}
.bottom-part{
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-content: space-between;
}
.bottom-part-info{
   font-size: 13px;
   color: #FFFFFF;
}
.bottom-part-logo{
   display:flex;
   justify-content: end;
   align-items: start;
   cursor:pointer;
}

