.footer {
   background-color: $main-color;
}

.footer-wrraper {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 38px;
   padding-bottom: 47px;
}

.footer__title {
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 8px;
   @include text(14px, 22px, #FEFEFE);
}

.footer__content {
   text-align: center;
   max-width: 684px;
   margin-bottom: 26px;
   @include text(12px, 20px, #B9B9B9);

}

.footer__links {
   display: flex;
   gap: 8px;
   margin-bottom: 25px;
}

.footer__contacts {
   text-align: center;
   @include text(14px, 24px, #B9B9B9);
}