.header__menu-wrrpaer {
   position: relative;
   text-align: right;
   @include margins(23px, 23px);

   @media (min-width: $tablet-bp) {
      @include margins(43px, 43px);

   }

   @media (min-width: $desktop-bp) {
      @include margins(43px, 51px);

   }

}

.header__menu {

   @media (min-width: $tablet-bp) {
      display: flex;
      justify-content: center;
      gap: 34px;

      &>li>a {
         @include text(11px, 22px, $second-color);
      }
   }

   @media (min-width: $desktop-bp) {
      gap: 68px;
   }
}

.header__active-item {
   color: #57A4A4 !important;
}

.header__icon-burger {
   background-color: $main-color;

   @media (min-width: $tablet-bp) {
      display: none;
   }

}

.header__img {
   width: 100%;
}