.last-shot {
   padding-bottom: 42px;

   @media (min-width: $tablet-bp) {
      background-color: rgba(0, 0, 0, 0.03);
   }
}

.last-shot__info-link {
   display: none;

   @media (min-width: $tablet-bp) {
      display: block;
      font-weight: 700;
      @include text(13px, 22px, #4E4E4E);
   }
}

.last-shot__info {
   margin-bottom: 13px;
   font-weight: 700;
   @include text(14px, 22px, $second-color);


   @media (min-width: $tablet-bp) {
      padding-top: 47px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 35px;
   }

   @media (min-width: $desktop-bp) {
      padding-bottom: 24px;
   }
}

.last-shot__galery {
   @media (min-width: $tablet-bp) {
      display: flex;
      justify-content: center;
      gap: 10px;
   }
}

.last-shot__galery-item {
   display: none;

   @media (max-width: $tablet-bp) {

      &:first-child {
         display: block;
         width: 100%;
      }
   }

   @media (min-width: $tablet-bp) {
      display: inline;
      width: 32%;

      &:last-child {
         display: none;
      }
   }

   @media (min-width: $desktop-bp) {
      &:last-child {
         display: inline;
      }
   }

}