.our-posts {
   @include margins(38px, 77px);

   @media (min-width: $tablet-bp) {
      @include margins(56px, 60px);
   }

   @media (min-width: $desktop-bp) {
      @include margins(66px, 70px);
   }
}

.our-posts__title {
   margin-bottom: 23px;
   font-weight: 700;
   text-transform: uppercase;
   @include text(14px, 22px, $second-color);
}

.our-posts__galery {
   max-width: 1170px;


   @media (min-width: $desktop-bp) {
      max-height: 500px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      column-gap: 20px;
   }
}

.our-posts__item {
   margin-bottom: 28px;

   @media (max-width: $tablet-bp) {

      &:last-child {
         display: none;
      }
   }

   @media (min-width: $tablet-bp) {
      display: flex;
      gap: 20px;
      margin-bottom: 32px;

   }

   @media (min-width: $desktop-bp) {
      max-width: 50%;
   }
}

.our-posts__item-content-wrapper {
   @media (min-width: $tablet-bp) {
      display: flex;
      flex-direction: column;
   }
}


.our-posts__item-title {
   font-weight: 700;
   @include text(16px, 30px, $second-color);
}

.our-posts__item-info {
   margin-bottom: 13px;
   @include text(12px, 20px, #7C7C7C);
}

.our-posts__item-content {
   display: none;


   @media (min-width: $tablet-bp) {
      display: inline-block;
      @include text(14px, 26px, #5C5C5C);
   }
}