* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-image: url(../images/Фон\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.container {
  width: 450px;
  margin: auto;
}

/*! header */

.main {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 18px 5vw 18px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-logo {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;

  cursor: pointer;
  transition: 0.5s;
}

.main-logo:hover {
  color: #01813f;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu-icons {
  display: flex;
  column-gap: 25px;
  padding-right: 25px;
  border-right: 1px solid rgba(255, 255, 255, 0.9);
}

.main-menu-icons-item {
  fill: #fff;
  transition: 0.5s;
  cursor: pointer;
}

.main-menu-icons-item:hover {
  fill: #01813f;
}

.main-menu-welcome {
  padding-left: 25px;
}

.main-menu-welcome-link {
  color: #fff;
  transition: 0.5s;
}

.main-menu-welcome-link:hover {
  color: #01813f;
}

/*! CONTENT */

.content {
  background-color: #fff;
  padding: 31px 61px 38px;
  margin-top: 54px;
  position: relative;
  margin-bottom: 72px;
}

.content-top:before {
  position: absolute;
  left: 0;
  top: 29px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content: "";
  background-color: #3cb878;
}

.content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.content-top-title {
  font-size: 20px;
  color: #434343;
}

.content-top-link {
  font-size: 14px;
  color: #3cb878;
}

.content-top-link:hover {
  text-decoration-line: underline;
}

.content-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.content-buttons-facebook:before {
  content: url("../images/f\ 1.png");
}

.content-buttons-google:before {
  content: url("../images/G+.png");
  position: relative;
  top: 3px;
}

.content-buttons-facebook:before,
.content-buttons-google:before {
  display: inline-block;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1.5px solid rgba(0, 0, 0, 0.15);
}

.content-buttons-facebook,
.content-buttons-google {
  padding: 12px 22px;
  border-radius: 5px;
  color: #ffffff;
  transition: 0.5s;
  width: 160px;
  display: flex;
  align-items: center;
}

.content-buttons-facebook {
  background-color: #305db8;
}

.content-buttons-google {
  background-color: #df4a32;
}

.content-buttons-facebook:hover {
  background-color: #022263;
}

.content-buttons-google:hover {
  background-color: #ab1f09;
}

.content-divider {
  font-size: 14px;
  color: #848484;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}

.content-divider::before,
.content-divider::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
  margin-inline: 1px;
}

.content-field {
  width: 100%;
  border: 1px solid #f2f2f2;
  outline: none;
  border-radius: 4px;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.content-field:focus {
  color: #434343;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.content-checkbox-wraper input {
  display: none;
}

.content-checkbox-wraper label {
  font-size: 14px;
  color: #434343;
  user-select: none;
  cursor: pointer;
}

.content-checkbox-wraper label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  margin-right: 8px;
  position: relative;
  top: 5px;
  left: 0;
}

.content-checkbox-wraper input:checked + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  background-image: url("../images/checkmark.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.content-checkbox-wraper label a {
  color: #01813f;
}

.content-checkbox-wraper label a:hover {
  text-decoration-line: underline;
}

.content-form {
}

.content-creator {
  text-align: center;
  color: #f2f2f2;
  padding: 16px 108px;
  background-color: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.content-creator:hover {
  background-color: #01813f;
}
