* {
    box-sizing: border-box !important;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    justify-content: space-evenly;
    gap: 0;

    &>li {
        margin: 0;
    }
}

.cartWrraper {
    width: 1200px;
    margin: 0 auto;
}

.title {
    text-align: left;
    padding: 14px;
    font-size: 56px;
    font-weight: 400;
}

.returnBtn {
    position: absolute;
    top: 80px;
    right: 20px;
    color: #000;
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
}

.emptyTitle {
    font-size: 64px;
    font-weight: 200;
    margin-top: 100px;
}