<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/5.1.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">dan-it.com</a>
    </nav>

    <main role="main" class="container">

        <div class="starter-template">
            <h1>Spring Boot Web Thymeleaf Example</h1>
            <h2>
                <span th:text="'Hello, ' + ${name}"></span>
            </h2>
        </div>



        <ol>
            <li th:each="book : ${books}" th:text="${book}">
                <div>
                    <span th:if="${#strings.contains(book.author, 'ik')}">Female</span>
                    <span th:if="${#strings.contains(book.author, 'an')}">Male</span>
                </div>
            </li>

        </ol>

        <a href="/users">Users</a>
    </main>
    <!-- /.container -->

    <script type="text/javascript" th:src="@{webjars/bootstrap/5.1.1/js/bootstrap.min.js}"></script>
</body>
</html>