.header__menu {
   @media (max-width: 768px) {
      display: none;
      width: 182px;
      background: #F5F5F5;
      text-align: left;
      position: absolute;
      right: 0;
      top: 37px;

      &>li {
         margin-left: 13px;
         margin-top: 4px;
         margin-bottom: 4px;
      }

      &>li>a {
         font-size: 11px;
         line-height: 22px;
      }
   }
}

.header__menu--active {
   display: block;
}