* {
   margin: 0;
   padding: 0;
}

body {
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
}

.container {
   width: 1160px;
   margin: 0 auto;
}

h3 {
   color: #4E4E4E;
}

/*! hero */

.hero {
   background-image: url(../images/Layer\ 1\ 5.png);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.hero-top-wrraper {
   background-color: rgba(94, 93, 88, 0.6);
}

.hero-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: auto 10%;
}

.hero-logo {
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
}

.logo-text {
   color: #fff;
   margin-left: 6px;
   font-size: 32px;
   line-height: 48px;
}

.logo-text-bluetxt {
   font-weight: 700;
   font-size: 32px;
   line-height: 48px;
   color: #18CFAB;
}

.logo-img {
   padding: 18px;
   font-weight: 700;
   font-size: 40px;
   line-height: 31px;
   color: #fff;
   background-image: url(../images/Polygon\ 1\ 1.png);
   background-repeat: no-repeat;
   background-position: center;
}

.hero-menu {
   display: flex;
   justify-content: space-between;
   text-transform: uppercase;
}

.hero-menu-list {
   color: rgba(255, 255, 255, 0.6);
   display: flex;
   justify-content: space-between;
}

.hero-menu-item {
   padding-top: 48px;
   padding-bottom: 48px;
   margin-right: 21px;
   cursor: pointer;
   border-bottom: 2px solid rgba(255, 255, 255, 0);
   transition: 0.3s;
   user-select: none;
}

.hero-menu-item:hover {
   color: #18CFAB;
   border-bottom: 2px solid #18CFAB;
}

.hero-menu-search {
   padding-top: 46px;
   padding-bottom: 46px;
   width: 20px;
   height: 20px;
   cursor: pointer;
   transition: 0.3s;
}

.hero-menu-search:hover {
   border-bottom: 2px solid #18CFAB;
}

.hero-menu-search:hover path {
   fill: #18CFAB;
   transition: 0.3s;
}

.hero-menu-search path {
   fill: rgba(255, 255, 255, 0.6);
}

.hero-title {
   text-align: center;
   color: #fff;
}

h4.hero-title {
   text-transform: uppercase;
   font-weight: 700;
   font-size: 35px;
   padding-top: 264px;
}

h4.hero-title span {
   color: #18CFAB;
}

h2.hero-title {
   text-transform: uppercase;
   font-weight: 700;
   font-size: 78px;
   margin-top: 22px;
}

h5.hero-title {
   font-weight: 400;
   font-size: 34px;
   padding-top: 22px;
}

.hero-btn-wrraper {
   display: flex;
   justify-content: center;
}

.btn {
   width: 168px;
   text-align: center;
   border-radius: 9px;
   padding-top: 16px;
   padding-bottom: 16px;
   margin-top: 129px;
   margin-bottom: 243px;
   font-weight: 700;
   font-size: 15px;
   line-height: 32px;
   color: #fff;
   text-transform: uppercase;
   border-top: 4px solid #fff;
   transition: 0.3s;
}



.hero-btn-explore {
   background: #18CFAB;
   margin-right: 26px;
}

.hero-btn-purchase {
   background: #00CBF6;

}

.advantages {
   display: flex;
   justify-content: space-between;
}

.dot {
   background: #1C2A33;
   width: 100%;
   border-top: 6px solid #fff;
   cursor: pointer;
   user-select: none;
}

.even {
   background: #18CFAB;
   width: 100%;
   border-top: 6px solid #fff;
   cursor: pointer;
   user-select: none;
}

.dot h4 {
   color: #18CFAB;
}

.even h4 {
   color: #fff;
}


.advantages-item {
   margin: 95px auto 110px;
   height: 280px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}



.advantages-item h4 {
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   text-transform: uppercase;
}

/* ? our services*/

.our-services-title {
   text-align: center;
   margin-top: 90px;
   margin-bottom: 26px;
   font-size: 36px;
   line-height: 40px;
   color: #4E4E4E;
}

.decore-line {
   position: relative;
   margin: 3px auto 0;
   margin-bottom: 3px;
   width: 75px;
   height: 1px;
   background-color: #18CFAB;
   border: none;
}

.firstline {
   right: 4px;
   top: 0;
}

.secondline {
   left: 4px;
   top: 0;
}

.our-services-menu {
   margin-top: 78px;
   display: flex;
   justify-content: space-between;
}

.our-services-menu-point {
   user-select: none;
   position: relative;
   text-align: center;
   background: #F8FCFE;
   width: 100%;
   padding-top: 15px;
   padding-bottom: 15px;
   border: 1px solid #EDEFEF;
   color: #717171;
   cursor: pointer;
}

.our-services-menu-point:hover {
   border: 1px solid #18CFAB;
}

.our-services-menu-point-current {
   background: #18CFAB;
   color: #fff;
}

.our-services-menu-point-current::after {
   position: absolute;
   top: 35px;
   left: 85px;
   display: block;
   content: "";
   width: 20px;
   height: 20px;
   transform: rotate(45deg);
   background-color: #18CFAB;
}

.our-services-point-content {
   position: absolute;
   margin-top: 23px;
   display: flex;
   opacity: 0;
   visibility: hidden;
}

.our-services-point-content-wrraper {
   position: relative;
   min-height: 240px;
}

.our-services-point-content-current {
   position: relative;
   visibility: visible;

   opacity: 1;
   transition: 1s;

}

.our-services-point-content img {
   height: 100%;
}

.our-services-point-content p {
   margin-left: 15px;
   font-weight: 300;
   font-size: 13px;
   line-height: 24px;
   color: #777777;
}

/* ! just-install */

.just-install {
   margin-top: 100px;
   background-image: url(../images/just-install-layer.png);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding-top: 126px;
   padding-bottom: 126px;
   text-align: center;
}

.just-install h2 {
   font-weight: 700;
   font-size: 40px;
   line-height: 40px;
   color: #18CFAB;
   margin-bottom: 12px;
   text-transform: uppercase;
}

.just-install p {
   font-size: 16px;
   line-height: 40px;
   color: #D8D8D8;
   margin-bottom: 126px;
}

.just-install a {
   background: #18CFAB;
   width: 168px;
   text-align: center;
   border-radius: 9px;
   font-weight: 700;
   font-size: 15px;
   line-height: 32px;
   color: #fff;
   text-transform: uppercase;
   border-top: 4px solid #fff;
   transition: 0.3s;
   padding: 20px 10px;
}

/* ! our work */

.our-work {
   background: #E9EDEF;
   padding-top: 100px;
   padding-bottom: 100px;
   text-align: center;
}

.our-work h3 {
   margin-bottom: 20px;
   text-align: center;
   font-size: 36px;
   line-height: 40px;
}

.our-work-menu {
   display: flex;
   margin-top: 70px;
   justify-content: center;
   margin-bottom: 70px;
}

.our-work-menu li {
   border: 1px solid #DADADA;
   padding-top: 12px;
   padding-bottom: 12px;
   padding-right: 15px;
   padding-left: 15px;
   text-align: center;
   font-size: 14px;
   line-height: 42px;
   min-width: 50px;
   cursor: pointer;
   user-select: none;
}

.our-work-menu-active__item {
   border: 2px solid #18CFAB !important;
   color: #18CFAB;
   transition: 0.3s;
}

/*! our-work-galery */

.our-work-item-wrapper {
   position: relative;
   overflow: hidden;
   height: 100%;
}

.our-work-galery {
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   min-height: 700px;
}

.our-work-item-wrapper img {
   width: 100%;
   height: 100%;
}

.our-work-item-hover {
   position: absolute;
   top: -300px;
   height: 100%;
   width: 100%;
   border-top: 4px solid #18CFAB;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #E9EDEF;
   transition: 0.3s;
}

.our-work-item-wrapper:hover .our-work-item-hover {
   top: 0;
   left: 0;
}



.our-work-item-hover-btn-wrraper {
   display: flex;
   justify-content: center;
   gap: 4px;
}

.our-work-item-hover-btn__link {
   background-color: #18CFAB;
   border: 1px solid #18CFAB;
   border-radius: 50%;
   transition: 0.3s;
   padding: 13px;
   cursor: pointer;
}


.our-work-item-hover-btn__link:hover {
   background-color: #E9EDEF;
}

.our-work-item-hover-btn__link path {
   fill: #E9EDEF;
   transition: 0.3s;

}

.our-work-item-hover-btn__link:hover>path {
   fill: #18CFAB;
}

.our-work-item-hover-btn__play {
   background-color: #18CFAB;
   border: 1px solid #18CFAB;
   border-radius: 50%;
   max-width: 40px;
   transition: 0.3s;
   cursor: pointer;
}

.our-work-item-hover-btn__play-square {
   width: 12px;
   height: 12px;
   background-color: #E9EDEF;
   margin: 14px;
   transition: 0.3s;
}

.our-work-item-hover-btn__play:hover {
   background-color: #E9EDEF;
}

.our-work-item-hover-btn__play:hover>.our-work-item-hover-btn__play-square {
   background-color: #18CFAB;
}

.our-work-item-hover>h5 {
   font-weight: 700;
   font-size: 15px;
   line-height: 25px;
   color: #18CFAB;
   text-transform: uppercase;
   text-align: center;
   margin-top: 23px;
}

.our-work-item-hover>p {
   font-size: 12px;
   line-height: 25px;
   text-align: center;
}

.our-work-btn {
   display: inline-block;
   padding: 23px;
   background-color: #18CFAB;
   border-radius: 4px;
   text-align: center;
   margin-top: 70px;
   cursor: pointer;
}

.our-work-btn>span {
   font-weight: 700;
   font-size: 14px;
   color: #fff;
   text-transform: uppercase;
   margin-left: 15px;
}

/*! BREAKING NEWS */

.breaking__news {
   /* text-align: center; */
   padding-top: 82px;
   padding-bottom: 128px;
}

.breaking__news>h3 {
   text-align: center;
   font-size: 36px;
   line-height: 40px;
   margin-bottom: 24px;
}

.breaking__news-gallery {
   gap: 36px;
   margin-top: 68px;
   display: grid;
   grid-template-columns: repeat(4, auto);
}

.breaking__news-gallery-item {
   max-width: 263px;
   position: relative;
   cursor: pointer;
}

.breaking__news-gallery-item>.date {
   position: absolute;
   top: 0;
   right: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #203E38;
   color: #fff;
   padding: 15px;
   transition: 0.3s;
}

.breaking__news-gallery-item>h5 {
   margin-left: 5px;
   font-weight: 700;
   font-size: 18px;
   color: #717171;
   line-height: 39px;
   transition: 0.3s;
}

.breaking__news-gallery-item>p {
   margin-left: 5px;
   font-weight: 300;
   font-size: 14px;
   color: #717171;

}

.breaking__news-gallery-item:hover .date {
   background-color: #18CFAB;
}

.breaking__news-gallery-item:hover>h5 {
   color: #18CFAB;
}

/*! people say */

.people__say {
   background-image: url(../images/People-say/people-say_layer.png);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding: 100px 0 100px;
   text-align: center;
}

.people__say>h3 {
   text-align: center;
   font-weight: 400;
   font-size: 36px;
   line-height: 40px;
   color: #FFFFFF;
   margin-bottom: 30px;
}

.people__say>svg {
   margin-top: 66px;
   margin-bottom: 36px;
}

.people__say-discription {
   font-weight: 300;
   font-size: 16px;
   line-height: 30px;
   color: #bbb;
   margin-bottom: 37px;
   min-height: 100px;
}

.people__say-name {
   font-weight: 700;
   font-size: 16px;
   color: #18CFAB;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.people__say-job {
   font-weight: 300;
   font-size: 16px;
   line-height: 30px;
   color: #bbb;
   margin-bottom: 40px;
}

.people__say-current-photo {
   display: inline-block;
   width: 166px;
   height: 166px;
   border: 10px solid #12a386;
   border-radius: 50%;
   background-image: url("../images/People-say/item\ \(1\).jpg");
   background-size: cover;
   background-position: center;
   margin-bottom: 57px;
}

/*? People say slider */

.people__say-slider {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.people__say-slider-btn {
   border: 1px solid #BBBBBB;
   padding: 11px 13px;
   border-radius: 2px;
   transition: 0.2s;
   cursor: pointer;
}

.people__say-slider-btn:hover {
   background-color: #18CFAB;
   border: 1px solid #18CFAB;
}

.people__say-slider-menu {
   display: flex;
   gap: 27px;
}

.people__say-item {
   width: 70px;
   height: 70px;
   border: 10px solid #052d25;
   border-radius: 50%;
   background-size: cover;
   background-position: center;
   transition: 1s;
   cursor: pointer;
}

.people__say-item-photo1 {
   background-image: url("../images/People-say/item\ \(1\).jpg");
}

.people__say-item-photo2 {
   background-image: url("../images/People-say/item\ \(2\).jpg");
}

.people__say-item-photo3 {
   background-image: url("../images/People-say/item\ \(3\).jpg");
}

.people__say-item-photo4 {
   background-image: url("../images/People-say/item\ \(4\).jpg");
}

.active-slider-photo {
   transform: translateY(-20px);
   transition: 0.5s;
   border: 10px solid #12a386;

}

/*! footer */

.footer {
   text-align: center;
   padding-top: 48px;
   padding-bottom: 48px;
   background: #22353F;
   color: #AEAEAE;
}

.footer a {
   color: #18CFAB;
}