button {
   display: block;
   background-color: rgb(202, 202, 202);
   border: 1px solid black;
   padding: 30px 60px;
   border-radius: 100px;
   cursor: pointer;
   margin: 20vh auto;
   font-size: 30px;
   font-weight: 700;
}

p {
   margin: 10px;
}

.data {
   min-width: 200px;
   width: 20vw;
   margin: 0 auto;
   background-color: rgb(202, 202, 202);
}