.inputWrraper {
    margin: 0;
    width: 100%;
    padding: 10px;
}

.formInput {
    width: 100%;
    font-size: 24px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 25px;
    padding: 10px;
    resize: none;
}

.titleWrraper {
    display: flex;
    justify-content: start;
    align-items: end;
    margin-bottom: 10px;
    gap: 10px;
}

.inputTitle {
    margin: 0;
    font-size: 24px;
    display: block;
    text-align: left;
}

.error {
    font-size: 20px;
    margin: 0;
    color: red;
    text-align: left;
}