*{
   margin: 0;
   padding: 0;
}
body{
   font-family: sans-serif;
}
a{
   text-decoration: none;
   color:none;
}
a:visited{
   color: #FF0000;
}
.container{
   width: 1145px;
   margin: 0 auto;
}
.main-menu-list{
   list-style: none;
   text-align: center;
   font-size: 18px;
   margin-top: 25.5px;
   margin-bottom: 25.5px;
   text-transform: uppercase;
   font-weight:bold;
   color: #FF0000;
}
.main-menu-point{
   display: inline-block;
   margin: 0 36px;
}
.back-ground-photo{
   background-image: url(../images/hero-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 789px;
   margin-bottom: 49px;
}
.title{
   text-align: center;
   font-size: 22px;
   line-height: 27px;
   font-weight: bold;
   text-transform: uppercase;
   color: #373737;
   margin-bottom: 38px;
   letter-spacing: 3.3px;
}
.main-font{
   font-size: 16px;
   line-height: 26px;
   letter-spacing: 2.4px;
   color: #373737;
   text-align: center;
}
.main-paragraph-first{
   margin-bottom: 28px;
}
.main-paragraph-second{
   margin-bottom: 66px;
}
.button-getstarted{
   padding: 18px 43.5px 17px 42.5px;
   background: #FF0000;
   margin: 0 auto 82px auto;
   border-radius: 4px;
   width: max-content;
}
.button-getstarted-title{
   font-weight: bold;
   font-size: 12px;
   letter-spacing: 1.8px;
   text-transform: uppercase;
   color: #FFFFFF;
}
.footer-by-script{
   text-align: right;
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 2.4px;
   color: #373737;
   margin-bottom: 29px;
}