.favoriteItem {
    position: relative;
    margin-top: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 120px;
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
    min-height: 160px;

    &:hover > .favotriteSvg{
        opacity: 1;
    }

    &:hover {
        opacity: 0.8 ;
    } 
}
.img {
    height: 70px;
}

.title{
margin-top: 20px;
font-size: 12px;

&:hover {
    text-decoration: underline;
}
}

.price {
    font-size: 16px;
    font-weight: 700;
    color: crimson ;
}

.favotriteSvg {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    transition: 0.2s;

    &:hover {
        width: 50px;
        height: 50px;
    }
}