body {
   font-family: sans-serif;
   text-align: center;
   padding: 0 10vw 0;
   background-color: rgb(0, 0, 0);
   background-image: url(https://ak.picdn.net/shutterstock/videos/1016601475/thumb/1.jpg?ip=x480);
   background-attachment: fixed;


}

.logo {
   margin: 0 auto;
   width: 40vw;
   height: 10vh;
   background-image: url(https://static-mh.content.disney.io/starwars/assets/navigation/sw_logo_horiz@2x-f98247cb30aa.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}

hr {
   border: 0;
   height: 1px;
   background-color: #fff;
}


h2 {
   font-weight: 1000;
   color: rgb(255, 255, 255);

}

h4 {
   font-weight: 1000;
   color: rgb(255, 255, 255);

}

p {
   color: rgb(255, 255, 255);
   line-height: 26px;
}

.episode {
   background-color: #000;
   border: rgb(255, 255, 255) 3px solid;
   border-radius: 10px;
   margin: 50px 0;
   padding: 30px 20px;
}

.characters-wrraper {
   border-top: 2px solid #fff;
   padding-top: 30px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 30px;
}

.character {
   border: 2px solid #fff;
   border-radius: 10px;
   width: 150px;
   padding-bottom: 10px;
   background-color: rgb(16, 16, 16);
}

.character-name {
   color: #fff;
   border-bottom: 2px solid #fff;
   padding-bottom: 10px;
}

.character-prop {
   margin: 0;
   margin-left: 10px;
   text-align: left;
   line-height: 20px;
}

.loader {
   display: inline-block;
   width: 80px;
   height: 80px;
   margin-bottom: 10px;
}

.loader:after {
   content: " ";
   display: block;
   width: 80px;
   height: 80px;
   margin: 8px;
   border-radius: 50%;
   border: 10px solid #fff;
   border-color: #fff transparent #fff transparent;
   animation: loader 1.2s linear infinite;
}

@keyframes loader {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}