.title {
    display: flex;
    justify-content: start;
    gap: 20px;
    width: 1000px;
    margin-top: 50px;

    &>h2 {
        margin: 0;
        font-size: 32px;
        font-weight: 200;
    }
}

.imgTheme {
    cursor: pointer;
    width: 50px;
    margin: 0;
}

.list {
    position: relative;
    margin-top: 100px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    row-gap: 20px;
    margin: 50px auto;
    padding: 0 100px 0;
    width: 1300px;
    justify-content: center;
}