.cartItem {
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    width: 17vw;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & button {
        margin-top: 5px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        font-size: 25px;
        border: none;
        border-radius: 10px;
        transition: 0.2s;
    }
}

.counter {
    margin: 0 10px;
    font-size: 24px;
    font-weight: 700;
}

.image {
    height: 100px
}

.increaseBtn,
.decreaseBtn {
    &:hover {
        background-color: rgb(192, 192, 192);
    }
}

.deleteBtn {
    color: #fff;
    font-weight: 700;
    background-color: rgb(190, 2, 2);
    width: 130px !important;

    &:hover {
        background-color: rgb(121, 0, 0);
    }
}