*{
   margin: 0;
   padding: 0;
}
body{
   font-family: sans-serif; 
}
.container{
   width: 1280px;
   margin: 0 auto;
}
.title{
   margin-top: 63px;
   margin-bottom: 40px;
   font-size: 80px;
   line-height: 94px;
}
.title-blue-text{
   color:dodgerblue;
}
.main-menu{
   text-align: center;
   background: #35444F;
   font-size: 0;

}
.main-menu-point{
   display: inline-block;
   text-align: center;
   padding: 26px 35px 19px;
   font-size: 24px;
   line-height: 28px;
   color: #FFFFFF;
   border-left: 1px solid #FFFFFF;

   transition: 0.5s;
}
.main-menu-point:hover{
   background: #222F3A;
   cursor:pointer;
}
.main-menu-last-point{
   border-right: 1px solid #FFFFFF;
}
.hero{
   margin-bottom: 48px;
}


/* MAINPART */

.mainpart{
   display: flex;
   justify-content: space-between;
}
.left-menu{
   width: 344px;
}
.left-menu-list{
   border: 1px solid #000000;
}
.left-menu-list-point{
   padding: 26px 0 26px 44px;
   font-size: 27px;
   line-height: 27px;
   color: #495863;
   cursor:pointer;

   transition: 0.5s;
}
.left-menu-list-point:hover{
   background-color: #DBDBDB;
   color:#000000;
   padding-left: 60px;
}
.content{
   width: 885px;
}
.content-imgdiv{
   padding-top: 75px;
   padding-bottom: 75px;
   border: 1px solid #000000;
   text-align: center;
   margin-bottom: 37px;
}
.content-text{
   margin-bottom: 34px;
   font-size: 18px;
   line-height: 24px;
   color: #2C2C2C;
}

/* MAINPART */
.bottom-menu{
   background: rgba(99, 105, 110, 0.48);
   padding-top: 20px;
   padding-bottom: 20px;
   font-size: 24px;
   color: #0C1927;

   margin-bottom: 20px;
   display: flex;
   justify-content: space-between;
}
.bottom-menu-list{
   display: flex;
   width: 875px;
   justify-content: space-between;
   margin-left: 40px;
}
.bottom-menu-list-point{
   display: inline-block;
   cursor:pointer;
   border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.bottom-menu-list-point:hover{
   color:#3181A6;
   border-bottom: 1px solid #3181A6;
}

.copyright{
   display: inline-block;
   margin-right: 40px;
}