.favoriteItem {
    position: relative;
    margin-top: 10px;
    width: 200px;
    padding: 20px;
    transition: 0.3s;
    min-height: 160px;
    border-left: 1px solid #eaeaea;
    height: 450px;


    &:hover>.favotriteSvg {
        opacity: 1;
    }

    &:hover {
        opacity: 0.8;
    }
}

.img {
    height: 200px;
}

.title {
    margin-top: 20px;
    font-size: 24px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.price {
    font-size: 34px;
    font-weight: 700;
    color: crimson;
}

.favotriteSvg {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        width: 90px;
        height: 90px;
    }
}

.addToCartBtn {
    width: fit-content;
    box-sizing: border-box;
    padding: 13px;
    min-width: 160px;
    color: white;
    border: unset;
    outline: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .1s ease-out;
    font-size: 16px;
    font-weight: 500;
    filter: brightness(1.1);
    letter-spacing: .6px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 0 3px 8px 0 rgba(34, 60, 80, 0.5);
    background-color: #2979c9;

    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);

    &:hover {
        filter: brightness(1);
    }
}