

.asd {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   border-radius: 50%;
   width: 70px;
   height: 70px;
   
}




















/* body{ */
   /* background-color: #000; */
   /* color: rgb(228, 207, 48); */
   /* font-family: sans-serif; */
   /* perspective: 500px; */
/* } */
/* .container{ */
   /* position: absolute; */
   /* top: 100%; */
   /* width: 900px; */
   /* margin: 30px auto; */
   /* animation-name: starwars ; */
   /* animation-duration: 30s; */
/* } */
/* .text{ */
   /* width: 600px; */
   /* margin: 0 auto; */
   /* font-size: 40px; */
   /* text-align: center; */

   /* transform: translate3d(20px, 15px, 100px); */
   /* transform: scale3d(1,1,1.5) rotateX(60deg); */
/* } */
/* @keyframes starwars{ */
   /* 0%{ */
      /* top: 400px; */
   /* } */
   /* 100%{ */
      /* top: -400px; */
   /* } */
/* } */