ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 5px;
    justify-content: space-evenly;
}

.cartWrraper {
    position: fixed;
    right: 0px;
    bottom: 0;
    height: 100vh;
    width: 20vw;
    background-color: rgb(240, 240, 240);
    border-left: 3px solid #14406b;
}

.title {
    padding: 14px;
    font-size: 24px;
    background-color: #14406b;
    color: #fff;

}

.closeBtn {
    cursor: pointer;
    position: absolute;
    right: 22px;
    top: 15px;
    width: 32px;
    height: 32px;


    &:hover {
        opacity: 0.5;
    }

    &:before,
    &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 5px;
        background-color: #fff;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}