.cartItem {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #eaeaea;
    padding: 20px;
    transition: .2s;

    &:hover {
        border: 1px solid rgb(3, 123, 221);
    }

    & button {
        margin-top: 40px;
        width: 70px;
        height: 70px;
        cursor: pointer;
        font-size: 25px;
        border: none;
        border-radius: 10px;
        transition: 0.2s;
    }
}

.nameWrraper {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 100;
    gap: 20px;
}

.name {
    font-size: 30px;

}

.amountWrraper {
    margin-top: 30px;
}

.counter {
    margin: 0 10px;
    font-size: 24px;
    font-weight: 700;
}

.image {
    height: 180px;
}

.btnWrraper {
    width: 300px;
    margin: 0;
}

.increaseBtn,
.decreaseBtn {
    &:hover {
        background-color: rgb(192, 192, 192);
    }
}

.deleteBtn {
    color: #fff;
    font-weight: 700;
    background-color: rgb(190, 2, 2);
    width: 190px !important;
    height: 40px !important;


    &:hover {
        background-color: rgb(121, 0, 0);
    }
}