.card {
    position: relative;
    border-left: 5px solid #eaeaea;
    border-bottom: 5px solid #eaeaea;
    border-radius: 30px;
    padding: 20px;
    width: 250px;
    min-height: 500px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    transition: .2s;

    &:hover {
        border-left: 2px solid rgb(3, 123, 221);
        border-bottom: 2px solid rgb(3, 123, 221);
    }
}

.columnCard {
    width: 1000px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    flex-direction: row;
    min-height: 0;


    &>.color {
        position: absolute;
        position: absolute;
        top: 15px;
        right: 100px;
        margin-top: 0;
    }

    &>.addToCartBtn {
        margin: 0;
    }

    &:hover {
        border: 1px solid rgb(3, 123, 221);
    }
}

.addToCartBtn {
    width: fit-content;
    box-sizing: border-box;
    padding: 13px;
    min-width: 140px;
    color: white;
    border: unset;
    outline: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .1s ease-out;
    font-size: 16px;
    font-weight: 500;
    filter: brightness(1.1);
    letter-spacing: .6px;
    font-family: sans-serif;
    position: relative;
    overflow: hidden;
    box-shadow: 0 3px 8px 0 rgba(34, 60, 80, 0.5);
    background-color: #2979c9;

    &:hover {
        filter: brightness(1);
    }
}

.cardImg {
    height: 180px;
}

.cardName {
    font-size: 24px;
}

.price {
    font-size: 24px;
    font-weight: 700;
    color: crimson;
}

.likeBtn {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: 0.5s;

    &:hover {
        top: 15px;
        right: 15px;
        width: 40px;
        height: 40px;
    }
}

.addToCartBtn {
    margin-top: 30px;
}

.color {
    margin-top: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    font-weight: 700;
}