.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.oneLineWrraper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inputWrraper {
    margin: 0;
    width: 100%;
    padding: 10px;
}

.formInput {
    width: 100%;
    font-size: 24px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 25px;
    padding: 10px;
    resize: none;

}

.inputTitle {
    font-size: 24px;
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

.submitBtn {
    margin: 30px 0 0;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    background-color: #2979c9;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    border: none;

    &:disabled {
        opacity: 0.4;
        cursor: auto;

        &:hover {
            background-color: #2979c9;
        }
    }


    &:hover {
        background-color: #236cb4;
    }
}