.modal {
    width: 600px;
    background-color: #2979c9;
    border-radius: 5px;
    position: relative;
    text-align: center;
    padding-bottom: 20px;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    & h2 {
        margin: 0;
        color: #fff;
        max-width: 500px;
    }

    & p {
        color: #fff;
        margin: 20px;
    }

    & button {
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
        background-color: #1f5d9b;
        border: none;
        border-radius: 5px;
        color: #fff;
        width: 100px;
        padding: 20px 0;
        margin: 0 15px;
    }
}

.modalWrraper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalHeaderWrraper {
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #256eb8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.closeBtn {
    position: absolute;
    right: 20px;
    display: block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    opacity: 1;
    cursor: pointer;
    transition: opacity ease 0.2s;

    &:hover {
        opacity: 0.5;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 10px;
        display: block;
        width: 24px;
        height: 3px;
        background: #fff;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}