.headerWrapper {
    position: relative;
    background-color: #2979c9;
}

.header {
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px 20px;
    height: 50px;
}



.logo {
    margin: 0;
    font-size: 24px;

    &>span {
        color: #fff;
    }

    cursor: pointer;
}

.navigation {
    width: 140px;
    position: relative;
    margin: 0;
}

.shopingCart,
.favorite {

    margin: 0 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        position: relative;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
    }
}

.amountCart,
.amountFavorite {
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
}

.amountFavorite {
    right: 60px;
}