.modal {
   width: 600px;
   background-color: #e74c3c;
   border-radius: 5px;
   position: relative;
   text-align: center;
   padding-bottom: 20px;

   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);

   & h2 {
      margin: 0;
      color: #fff;
   }

   & p {
      color: #fff;
      margin: 20px;
   }

   & button {
      cursor: pointer;
      background-color: #b3382c;
      border: none;
      border-radius: 5px;
      color: #fff;
      width: 100px;
      padding: 20px 0;
      margin: 0 15px;
   }
}

.modalWrraper {
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.4)
}

.modalHeaderWrraper {
   padding: 20px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   background-color: #d44637;
   display: flex;
   align-items: center;
   justify-content: space-between;
}