ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 50px;
    justify-content: space-evenly;


    &>li {
        margin: 0;
    }
}

.cartWrraper {
    width: 1200px;
    margin: 0 auto;
}

.title {
    padding: 14px;
    font-size: 56px;

}

.returnBtn {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
}