* {
   color: #fff;
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
   background-image: url(../images/background\ 1.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.container {
   width: 1080px;
   margin: auto;
}

.top-menu{ 
   padding-top: 51px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 26px;
}

.top-menu-logo {
   display: flex;
   justify-content: space-between;
   column-gap: 6px;
   cursor: pointer;
}
.top-menu-logo-svg{
   width: 53px;
   height: 47px;
   fill: #fff;
   transition: 0.5s;
}

.top-menu-logo:hover .top-menu-logo-svg{
   fill: #F26522;
}
.top-menu-logo:hover .top-menu-logo-title-text{
   color: #F26522;
}

.top-menu-logo-title {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.top-menu-logo-title-text:first-child{
   font-weight: bold;
   font-size: 29px;
   transition: 0.5s;
}

.top-menu-logo-title-text:last-child {
   font-weight: bold;
   font-size: 18px;
   transition: 0.5s;
}

.top-menu-rightside {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: end;
}

.top-menu-rightside-item {
   font-size: 18px;
   color: #fff;
   transition: 0.5s;
}

.top-menu-rightside-item:hover {
   font-size: 24px;
   cursor: pointer;
   color:#F26522;
}



/*!!! PORTFOLIO */
.content {
   margin-bottom: 30px;
}

.portfolio{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.portfolio-item {
   width: 300px;
   cursor: pointer;
}

.portfolio-item-content {
   position: relative;
   overflow: hidden;
}
.portfolio-item-img{
   width: 100%;
}

.portfolio-item-img{
   width: 100%;
}
.portfolio-item-content-details {
   position: absolute;
   bottom: -250px;
   left: 0;
   width: 100%;
   

   display: flex;
   justify-content: space-between;
   align-items: end;
   padding: 7px 37px 12px 16px;
   background: #F26522;
   transition: 0.5s;
}
.portfolio-item:hover .portfolio-item-content-details{
   bottom: 0;
}
.portfolio-item:hover .portfolio-item-title{
   font-size: 24px;
   color: #F26522;
   margin-bottom: 31px;
}

.portfolio-item-content-details-price:first-child {
   font-size: 10px;
   margin-bottom: 8px;
}

.portfolio-item-content-details-price:last-child {
   font-size: 20px;
}

.portfolio-item-content-details-price-viewdetails{
   font-size: 14px;
   
}

.portfolio-item-content-details-price-viewdetails::after {
   display: inline-block;
   width: 7px;
   height: 7px;
   content: '';
   position: relative;
   left: 16px;
   top: 0;
   border-right: 2px solid #FFFFFF;
   border-bottom: 2px solid #FFFFFF;
   transform: rotate(-45deg);
}

.portfolio-item-title {
   margin-top: 20px;
   font-size: 18px;
   text-align: center;
   transition: 0.5s;
   margin-bottom: 37px;
}


.copyright {
   margin-bottom: 15px;
   display: block;
   text-align: center;
   font-size: 12px;
   color: #FFFFFF;
}