@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/reset';

body {
   font-family: 'Roboto', sans-serif;
}

.container {
   margin: auto 28px;

   @media (min-width: $tablet-bp) {
      margin: auto 80px;
   }

   @media (min-width: $desktop-bp) {
      margin: auto 115px;
   }
}

@import 'layout/header';
@import 'layout/ourposts';
@import 'layout/lastshot';
@import 'layout/footer';

@import 'components/burger';