ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 100px !important;
    justify-content: space-evenly;
}

.favoriteWrraper {
    width: 1200px;
}

.title {
    padding: 14px;
    font-size: 56px;
}

.returnBtn {
    position: absolute;
    top: 80px;
    right: 20px;
    color: #000;
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
}