body {
   font-family: sans-serif;
}

.posts {
   border-right: 1px solid rgb(230, 230, 230);
   border-left: 1px solid rgb(230, 230, 230);
   border-bottom: 1px solid rgb(230, 230, 230);
   margin: 0 25vw
}

.card {
   border-top: 1px solid rgb(230, 230, 230);
   padding: 20px;
   position: relative;
}

.card__user-name {
   font-size: 16px;
   margin: 0;
}

.card__email {
   margin-left: 5px;
   color: rgb(150, 150, 150);
   font-weight: 200;
}

.card__title {
   font-size: 16px;
   font-weight: 400;
}

.card__delete-btn {
   display: block;
   width: 30px;
   height: 30px;
   border-radius: 60px;
   border-width: 0;
   cursor: pointer;
   background-color: #fff;
   position: absolute;
   top: 15px;
   right: 15px;
   transition: 0.2s;
}

.card__delete-btn:hover {
   background-color: rgb(244, 244, 244);

}

.card__delete-btn::before {
   content: "";
   position: absolute;
   right: 4px;
   display: block;
   width: 20px;
   height: 4px;
   border-radius: 2px;
   background-color: rgb(150, 150, 150);
   transform: rotate(45deg);
}

.card__delete-btn::after {
   content: "";
   position: absolute;
   right: 4px;

   display: block;
   width: 20px;
   height: 4px;
   border-radius: 2px;
   background-color: rgb(150, 150, 150);
   transform: rotate(-45deg);
}